.navbar-custom {
    background-color: #0099ff;
    padding-top: 0;
    padding-bottom: 0;
    height: 55px;
}


.navbar-brand-custom {
    font-size: 20px;
    color: white;
}

.navbar-brand-custom:hover {
    text-decoration: none;
    color: white;
}

.navbar-nav {
    float: left;
}

.navbar-ul {
    height: 100%;
}

.navbar-brand {
    color: white;
}

.nav-item-custom {
    width: 120px;
}

.navbar-btn-custom {
    height: 100%;
    padding: 0;
    border: 0;
    background-color: #0099ff;
    font-size: medium;
    width: 100%;
}

.navbar-btn-custom:focus {
    box-shadow: none !important;
    outline: 0;
    background-color: 0099ff;
}

.modal-form-input {
    margin-bottom: 2rem;
}

.modal-form-input-selection {
    margin-bottom: 3rem;
}

.login-form-button {
    margin-left: auto;
}